body {
  font-family: 'Space Mono', monospace;
  background-color: #e2e2e2;
  max-width: 900px;
  min-width: 850px;
  margin: auto;
}

#main-container {
  overflow: auto;
  position: relative;
  margin-top: 50px;
  padding: 0 5px;
}

h1 {
  text-align: center;
}

img {
  display: block;
  width: 400px;
  margin: auto;
  border-radius: 5px;
  float: left;
}

a {
  text-decoration: none;
  color: #FF40B3;
}

#cv-container {
  text-align: center;
}

#about-container {
  position: absolute;
  min-width: 300px;
  max-width: 400px;
  margin: auto;
  right: 0;
  height: 100%;
}


#about {
  text-align: right;
}

#contact {
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.contact-info {
  float: right;
}

