body {
  font-family: 'Space Mono', monospace;
}

h1 {
  text-align: center;
}

img {
  display: block;
  width: 400px;
  margin: auto;
}

a {
  text-decoration: none;

}

#cv-container {
  text-align: center;
}
#contact {
  min-width: 300px;
  max-width: 400px;
  margin: auto;
}

.contact-info {
  float: right;
}

  
