---
layout: default
permalink: /blog
h1: blog
---
<div id="blog-container" >

  <div style="margin-bottom:10px">
    When I don't understand something I tend to deep dive into it to try and understand it better. After all if I understand it then it can't be magic and to be honest computers are insane at the best of times so I hope these posts help others too.
  </div>
  <div id="latest-posts">
    <h2>latest posts</h2>
      {% for post in site.posts limit:5 %}
        <div>
          <div>
            <a class="latest-blog-title" href="{{ post.url }}">{{ post.title }}</a>
            - <time datetime="{{ post.date | date: "%Y-%m-%d"  }}">{{ post.date | date_to_long_string  }}</time>
          </div>
          <p>{{ post.excerpt }}</p>
        </div>
      {% endfor %}
  </div>
  <div id="all-posts">
  <h2>all posts</h2>
  <ul>
    {% for post in site.posts %}
    <li>
      <time datetime="{{ post.date | date: "%Y-%m-%d"  }}">{{ post.date | date: "%Y-%m-%d" }}</time>
      - 
      <a href="{{ post.url  }}">
        {% assign titlesize = post.title | size | interger %}
        {% if titlesize < 25 %}
          {{ post.title }}
        {% else %}
          {{ post.title | slice: 0,25 }}...
        {% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
  </div>
</div>

